/* ------------Color-config------------ */

$light_color: rgb(250,250,250);
$dark_color: rgb(56,56,56);
$grey_color: rgb(173,173,173);

/* ------------Typography------------ */

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap'); /* Konkhmer Sleokchher */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter */

$heading_font: Konkhmer Sleokchher;
$paragraph_font: Inter;

*{
    color: $dark_color;
}
h1{
    font-family: $heading_font;
}
h5{
    font-family: $paragraph_font;
}

/* ------------Reusable-Styles------------ */
.corner_radius{
    border-radius: 2px;
}

/* ------------Body-Modification------------ */

body{
    background-color: $light_color;
    overflow-x: hidden;
}

/* ------------Background-Text------------ */
.background_text{
    color: rgb(245, 245, 245);
    z-index: -1;
}

/* ------------Primary-Button-Styling------------ */
.primary_btn{
    font-family: $heading_font;
    font-size: 1rem;
    line-height: 1rem;
    color: $light_color;
    background-color: $dark_color;
    padding: 1rem 2.5rem;
    cursor: pointer;
}