/* ------------Color-config------------ */

$light_color: rgb(250,250,250);
$dark_color: rgb(56,56,56);
$grey_color: rgb(173,173,173);
$greyer_color: rgb(95,95,95);

/* ------------Typography------------ */

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap'); /* Konkhmer Sleokchher */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); /* Inter */

$heading_font: Konkhmer Sleokchher;
$paragraph_font: Inter;

h1, h2, button{
    font-family: $heading_font;
    color: $dark_color;
}
h5{
    font-family: $paragraph_font;
}
p, input{
    font-family: $paragraph_font;
    color: $dark_color;
}
.inputBtn{
    font-family: $heading_font;
}
.faded_text{
    color: $grey_color;
}
::selection{
    color: $dark_color;
    background-color: $grey_color;
}

/* ------------Reusable-Styles------------ */
$border_radius: 2px;
.corner_radius{
    border-radius: $border_radius;
}

/* ------------Body-Modification------------ */

body{
    background-color: $light_color;
    height: fit-content;
}
*{
    transition: 0.2s;
}

/* ------------Background-Text------------ */
.background_text{
    color: rgb(245, 245, 245);
    z-index: -1;
}

/* ------------Simplyfied-Button-Styling------------ */

.simple_btn, .smaller_simple_btn{
    font-family: $heading_font;
    color: $dark_color;
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
    opacity: 0.5;

    &:hover{
        transform: translateX(1.25rem);
        opacity: 1;
    }
}
.smaller_simple_btn{
    font-size: 1.5rem;
    line-height: 1.5rem;
}
.active_btn_state{
    opacity: 1;
}

/* ------------Folder/Document------------ */

.folder{
    font-family: $heading_font;
    color: $dark_color;
    font-size: 1.5rem;
    line-height: 1.5rem;
    text-align: left;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.2s;
    opacity: 0.5;

    &:hover{
        transform: scale(1.025);
        opacity: 1;
    }
}